:root {
  --primary-color: #E53935; 
  --primary-dark: #B71C1C; 
  --primary-light: #FFCDD2;
  --secondary-color: #FBC02D;
  --background-color: #f7f7f7;
  --card-background: #FFE0B2;
  --text-color: #212121; 
  --shadow-color: rgba(0, 0, 0, 0.1);
  --hover-shadow-color: rgba(0, 0, 0, 0.2); 
}

/* Remover margens e padding do body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa a altura total da página */
  padding: 20px;
  background: none;
}

.login-card {
  background-color: var(--card-background); 
  border-radius: 16px;
  box-shadow: 0 8px 15px var(--shadow-color);
  text-align: center;
  max-width: 400px;
  width: 100%;
  border: 1px solid var(--primary-dark);
  padding: 30px; /* Adicionei padding para garantir espaçamento interno */
}

.login-card h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: var(--primary-dark); 
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-input {
  padding: 15px 20px;
  border: 2px solid var(--primary-light);
  border-radius: 12px;
  font-size: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-input:focus {
  border-color: var(--secondary-color); 
  box-shadow: 0 4px 10px var(--hover-shadow-color);
  outline: none;
}

.login-button {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.login-button:hover {
  background-color: var(--primary-dark); 
  transform: scale(1.05);
  box-shadow: 0 6px 12px var(--hover-shadow-color); 
}

.login-button:active {
  background-color: var(--secondary-color); 
  color: var(--primary-dark);
}

.login-toggle {
  margin-top: 15px;
  font-size: 0.9rem;
  color: var(--primary-dark);
}

.login-toggle span {
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: bold;
}

.login-toggle span:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-wrapper {
    padding: 10px;
  }

  .login-card {
    padding: 20px; /* Ajustei o padding para telas menores */
  }

  .login-button {
    padding: 10px 18px;
  }

  .login-card h2 {
    font-size: 2rem; /* Ajuste de fonte para telas menores */
  }
}
