.opinar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

.opinar-container {
  padding: 30px;
  background-color: var(--card-bg-color); 
  border-radius: 12px;
  box-shadow: 0 10px 30px var(--shadow-color); 
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

h2 {
  text-align: center;
  font-size: 28px;
  color: var(--primary-color); 
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 15px;
}

strong {
  color: var(--primary-dark); 
}

.opinion-section {
  margin-top: 25px;
}

.opinion-section h3 {
  font-size: 20px;
  color: var(--primary-dark); 
  margin-bottom: 10px;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
  letter-spacing: 0.5px;
}

textarea {
  width: calc(100% - 40px); /* Ajuste da largura */
  height: 150px;
  padding: 15px;
  border: 2px solid var(--primary-light);
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color); 
  transition: border-color 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 5px 15px var(--shadow-color); 
  resize: none;
}

textarea:focus {
  border-color: var(--primary-color); 
  background-color: var(--highlight-color); 
  outline: none;
}

button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--primary-color); 
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 20px var(--shadow-color); 
}

button:hover {
  background-color: var(--primary-dark); 
  transform: scale(1.05);
  box-shadow: 0 15px 30px var(--hover-shadow-color); 
}

button:active {
  background-color: var(--secondary-color); 
  transform: scale(0.98);
  box-shadow: none;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .opinar-container {
    padding: 20px;
    max-width: 90%; /* Ajusta a largura para 90% da tela em dispositivos móveis */
  }

  h2 {
    font-size: 24px; /* Reduz o tamanho da fonte do título */
  }

  textarea {
    height: 120px; /* Ajuste da altura do campo de texto para telas menores */
  }

  button {
    font-size: 16px;
    padding: 12px;
  }
}

/* Ajustes adicionais para telas muito pequenas */
@media (max-width: 480px) {
  .opinar-container {
    padding: 15px;
    max-width: 100%; /* Ocupar toda a largura da tela */
  }

  textarea {
    height: 100px; /* Ajuste para telas menores */
  }
}
